node_modules
.next
out
dist
!vendor/jena-js/dist/
!vendor/jena-js/dist/**
!vendor/sna-js/dist/
!vendor/sna-js/dist/**
.env*.local
.vercel
.sena-enterprise/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env*
